/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  min-height: 100vh;
}

.coin-toss-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .coin-toss-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 64px;
    background-color: #ffffff;
  }
  .button {
    margin-top: 32px;
  }

  .heading {
    text-align: center;
    color: #a35200;
    font-family: 'roboto';
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .toss-result-img {
    width: 250px;
    height: 250px;
  }

  .description {
    color: #334155;
    font-family: 'roboto';
    font-size: 26px;
    font-weight: 500;
    margin-top: 16px;
  }
}

.heading {
  text-align: center;
  color: #a35200;
  font-family: 'roboto';
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}

.description {
  color: #334155;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

.toss-result-img {
  width: 150px;
  height: 150px;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.counts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .counts-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
  }
}

.count {
  color: #475569;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
}
